// File for all the variables and mixins for de_kelder and the prototype.

// Variables

// Background colors.
$bg: #fff//303030
$bg-alt: #ddd//212121
// Text colors.
$text: #000//ddd
$text-alt: #606060//368cbf

// Mixins

// A standard size for certain container elements.
%stdsizebg
    background: none
    height: 100%
    width: 100%

