// Import vars and mixins.
@import ../../1-public/stylesheets/parts/vars-and-mixins
// Import styles for the other two pages.
@import add-recipe
@import recipe

// Styling.

*
    box-sizing: border-box

html, body
    font-family: Arial
    margin: 0
    padding: 0

html, body, .container
    background: $bg
    color: $text
    height: auto
    position: relative
    width: 100%

.footer, footer
    height: 48px
    width: 100%

// Styling for the main page.

html
    body
        .container
            .main
                display: flex
                flex-flow: column nowrap
                margin-left: 10%
                margin-bottom: 48px
                width: 80%

                .item
                    height: auto
                    width: 100%

                    .item-title-link, .small-desc-link
                        text-decoration: none
                    
                    .item-title-link
                        font-family: "Lucida Console", Monaco, monospace
                        font-size: 100%
                        text-align: center

                        .item-title
                            color: $text-alt

                    .small-desc-link
                        .small-desc
                            color: $text
                            display: none

            .footer
                background: none
                bottom: 0
                position: fixed

                footer
                    .searchbar
                        height: 40px
                        width: 80%

                        .search-input
                            background: $text-alt
                            border: 2px solid $bg
                            border-radius: 30px
                            color: $text
                            font-size: 130%
                            height: 100%
                            margin: 4px 0 0 4px
                            padding: 0 20px
                            width: 100%

                            &:focus
                                outline: none

                    .add-recipe
                        background: $text-alt
                        border-radius: 50%
                        border: 2px solid $bg
                        bottom: 4px
                        height: 40px
                        right: 4px
                        position: absolute
                        width: 40px

                        .cross-vert, .cross-hori
                            background: $text
                            border-radius: 0px
                            position: absolute

                        .cross-vert
                            height: 18px
                            left: 17px
                            top: 9px
                            width: 2px

                        .cross-hori
                            height: 2px
                            left: 9px
                            top: 17px
                            width: 18px

// Styling for a single recipe page.
            
#recipe
    margin-bottom: 0

    .last-made b, .last-eaten b
        color: $text-alt

    .instructions, .ingredients
        padding-left: 10px

    .instruction, .ingredient
        color: $text-alt
        margin-bottom: 3px

        span
            color: $text

    .title-wrap
        .title
            color: $text-alt
            font-size: 200%
            letter-spacing: 5px
            text-align: center

    .photo-wrap
        .photo
            border-radius: 50%
            display: block
            height: 90%
            margin-bottom: 10px
            max-height: 400px
            max-width: 400px
            width: 90%

    // .instructions-wrap
    //     .instructions
    //         .instruction
    // .ingredients-wrap
    //     .ingredients
    //         .ingredient
    // .last-made-wrap
    //     .last-made
    // .last-eaten-wrap
    //     .last-eaten
    // .calendar-wrap
    //     .calendar
    .tags-wrap
        .tags
            i
                font-size: 80%
                opacity: 0.6

#add
    margin: 30px 5%
    width: 90%

    .wrap
        background: $bg-alt
        border-radius: 5px
        height: 50px
        margin-bottom: 20px
        position: relative
        width: 100%

        .input, .span
            position: absolute

        .input
            background: none
            border: 2px solid $text-alt
            border-radius: 5px
            caret-color: $text
            color: $text
            height: 50px
            left: 0
            padding: 0 10px
            top: 0
            width: 100%
            z-index: 2

            &:focus
                outline: none
                padding-top: 18px

            &:focus + .span
                font-size: 80%
                opacity: 0.7
                top: 8px

        .span
            color: $text-alt
            left: 10px
            top: 16px
            transition: all 0.2s ease
            z-index: 1

    .tags-wrap
        .span-tags
            span
                font-size: 70%

    .submit-wrap
        border-radius: 5px
        height: 50px
        width: 100%

        .input-submit
            background: $text-alt
            border: none
            border-radius: 5px
            font-size: 120%
            height: 100%
            line-height: 50px
            padding: 0
            text-align: center
            width: 100%

