// Vars.
$text: #fff
$text-h1: #eee
$bg: #000
$bg-alt: #333
$bg-alt-2: #606060

// Styling.

*
    box-sizing: border-box

html, body
    font-family: Arial
    margin: 0
    padding: 0

html, body, .container
    display: flex
    background: $bg
    color: $text
    height: auto
    position: relative
    width: 100%

.footer, footer
    height: 48px
    width: 100%

html
    body
        .container
            .main
                margin-left: 10%
                margin-bottom: -48px
                width: 80%

                .item
                    .item-title
                        font-family: "Lucida Console", Monaco, monospace
                        font-size: 100%
                        text-align: center

            .footer
                background: $bg-alt
                bottom: 0
                position: fixed

                footer
                    .searchbar
                        .search-input
                            border-radius: 10px
                            padding-left: 8px

                    .menu-button
                        background: $bg-alt-2
                        border-radius: 0 0 50% 50%

                    .add-recipe
                        background: $bg-alt
                        border-radius: 50%
                        bottom: 64px
                        height: 54px
                        right: 16px
                        position: absolute
                        width: 54px

                        .cross-vert, .cross-hori
                            background: $bg-alt-2
                            border-radius: 0px
                            position: absolute

                        .cross-vert
                            height: 36px
                            left: 25px
                            top: 9px
                            width: 4px

                        .cross-hori
                            height: 4px
                            left: 9px
                            top: 25px
                            width: 36px
