/* line 9, styles.sass */
* {
  box-sizing: border-box;
}

/* line 12, styles.sass */
html, body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

/* line 17, styles.sass */
html, body, .container {
  background: #303030;
  color: #ddd;
  height: auto;
  position: relative;
  width: 100%;
}

/* line 24, styles.sass */
.footer, footer {
  height: 48px;
  width: 100%;
}

/* line 31, styles.sass */
html body .container .main {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 10%;
  margin-bottom: 48px;
  width: 80%;
}
/* line 38, styles.sass */
html body .container .main .item {
  height: auto;
  width: 100%;
}
/* line 42, styles.sass */
html body .container .main .item .item-title-link, html body .container .main .item .small-desc-link {
  text-decoration: none;
}
/* line 45, styles.sass */
html body .container .main .item .item-title-link {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 100%;
  text-align: center;
}
/* line 50, styles.sass */
html body .container .main .item .item-title-link .item-title {
  color: #368cbf;
}
/* line 54, styles.sass */
html body .container .main .item .small-desc-link .small-desc {
  color: #ddd;
}
/* line 57, styles.sass */
html body .container .footer {
  background: none;
  bottom: 0;
  position: fixed;
}
/* line 63, styles.sass */
html body .container .footer footer .searchbar {
  height: 40px;
  width: 80%;
}
/* line 67, styles.sass */
html body .container .footer footer .searchbar .search-input {
  background: #368cbf;
  border: 2px solid #303030;
  border-radius: 30px;
  color: #ddd;
  font-size: 130%;
  height: 100%;
  margin: 4px 0 0 4px;
  padding: 0 20px;
  width: 100%;
}
/* line 78, styles.sass */
html body .container .footer footer .searchbar .search-input:focus {
  outline: none;
}
/* line 81, styles.sass */
html body .container .footer footer .add-recipe {
  background: #368cbf;
  border-radius: 50%;
  border: 2px solid #303030;
  bottom: 4px;
  height: 40px;
  right: 4px;
  position: absolute;
  width: 40px;
}
/* line 91, styles.sass */
html body .container .footer footer .add-recipe .cross-vert, html body .container .footer footer .add-recipe .cross-hori {
  background: #ddd;
  border-radius: 0px;
  position: absolute;
}
/* line 96, styles.sass */
html body .container .footer footer .add-recipe .cross-vert {
  height: 18px;
  left: 17px;
  top: 9px;
  width: 2px;
}
/* line 102, styles.sass */
html body .container .footer footer .add-recipe .cross-hori {
  height: 2px;
  left: 9px;
  top: 17px;
  width: 18px;
}
