html body .container, html body, html {
  background: none;
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, ul {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
html body .container {
  background: #303030;
  display: flex;
  flex-flow: column nowrap;
  font-family: Arial, "sans-serif";
}
html body .container ul {
  background: #303030;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  width: 100%;
}
html body .container ul li {
  list-style-type: none;
}
html body .container ul li a {
  color: #ddd;
  text-align: center;
  text-decoration: none;
}
html body .container .header {
  background: #ddd;
  box-shadow: 0 3px 12px -1px #ddd;
  height: 40px;
  width: 100%;
}
html body .container .header--nav, html body .container .header--title {
  float: left;
  height: 40px;
  width: 50%;
}
html body .container .header--nav--input, html body .container .header--nav--list, html body .container .header--nav--label {
  float: left;
}
html body .container .header--nav--input {
  display: block;
  height: 0;
  margin: 0;
  opacity: 0;
  width: 0;
}
html body .container .header--nav--input:checked ~ .header--nav--list .item-2 {
  top: 40px;
}
html body .container .header--nav--input:checked ~ .header--nav--list .item-3 {
  top: 80px;
}
html body .container .header--nav--input:checked ~ .header--nav--label .arrow-left {
  transform: rotate(41deg);
}
html body .container .header--nav--input:checked ~ .header--nav--label .arrow-right {
  transform: rotate(-41deg);
}
html body .container .header--nav--list {
  background: #ddd;
  height: 40px;
  list-style-type: none;
  margin-right: 0;
  width: 60px;
}
html body .container .header--nav--list--item {
  background: #ddd;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  transition: top 0.5s ease;
  width: 60px;
}
html body .container .header--nav--list--item--link {
  color: #303030;
  display: block;
  font-size: 24px;
  font-weight: 900;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  width: 60px;
}
html body .container .header--nav--list .item-1 {
  z-index: 5;
}
html body .container .header--nav--list .item-2, html body .container .header--nav--list .item-3 {
  z-index: 4;
}
html body .container .header--nav--label {
  display: block;
  height: 40px;
  margin-left: 2px;
  width: 28px;
}
html body .container .header--nav--label--arrow {
  background: #303030;
  border-radius: 5px;
  float: left;
  height: 18px;
  margin: 11px 3px;
  transition: transform 0.5s ease;
  width: 4px;
}
html body .container .header--nav--label .arrow-left {
  transform: rotate(-41deg);
}
html body .container .header--nav--label .arrow-right {
  transform: rotate(41deg);
}
html body .container .header--title {
  color: #303030;
  display: block;
  height: 40px;
  letter-spacing: 2px;
  line-height: 40px;
  margin: 0;
  padding-right: 10px;
  text-align: right;
}
html body .container .linklist {
  justify-content: center;
}
html body .container .linklist--item {
  height: 42px;
  line-height: 42px;
  margin: 10px 0;
  min-width: 100px;
}
html body .container .linklist--item--link {
  color: #ddd;
  line-height: 22px;
  padding: 10px;
  text-align: center;
  width: 100%;
}
html body .container .linklist--item--link:hover {
  background: #368cbf;
  border-radius: 10px;
  color: #ddd;
}
html body .container .switches {
  align-items: center;
  background: #232323;
  bottom: 60px;
  height: 0;
  left: 0;
  justify-content: space-around;
  overflow-y: hidden;
  position: absolute;
  transition: all 0.5s ease;
  z-index: -1;
}
html body .container .switches--item {
  margin: 8px 0 12px;
}
html body .container .switches--item--title {
  color: #2b6f97;
  display: block;
  height: 26px;
  line-height: 26px;
  text-align: center;
  width: 76px;
}
html body .container .switches--item--link {
  background: #368cbf;
  border: none;
  color: #303030;
  float: left;
  height: 26px;
  line-height: 26px;
  padding: 0.2em;
  text-align: center;
}
html body .container .switches--item .switch-on, html body .container .switches--item .switch-off {
  width: 37px;
}
html body .container .switches--item .switch-on {
  border-radius: 5px 0 0 0;
  margin-right: 2px;
}
html body .container .switches--item .switch-off {
  border-radius: 0 5px 0 0;
}
html body .container .switches--item .switch-toggle {
  border-radius: 0 0 5px 5px;
  clear: both;
  margin-top: 2px;
  width: 76px;
}
html body .container .height-toggle {
  height: 0;
}
html body .container .buttons {
  background: #303030;
  bottom: 0;
  justify-content: space-around;
  position: absolute;
  z-index: 1;
}
html body .container .buttons--item #switches {
  float: right;
  margin: 0;
  opacity: 0;
  padding: 0;
}
html body .container .buttons--item #switches:checked ~ .switches {
  height: 99px;
}
html body .container .buttons--item--button {
  color: #368cbf;
  font-size: 2em;
}
html body .container .buttons--item--button svg {
  display: block;
  margin: 0 auto;
}

/*# sourceMappingURL=new.css.map */
