/* line 15, parts/_vars-and-mixins.sass */
html, html body, html body .container {
  background: none;
  height: 100%;
  width: 100%;
}

/* line 6, styles.sass */
* {
  box-sizing: border-box;
}

/* line 10, styles.sass */
html, body, ul {
  margin: 0;
  padding: 0;
}

/* line 20, styles.sass */
html body .container {
  background: #212121;
  font-family: Verdana, "sans-serif";
}
/* line 25, styles.sass */
html body .container h1, html body .container h2, html body .container h3, html body .container p {
  text-align: center;
  width: 100%;
}
/* line 29, styles.sass */
html body .container ul {
  height: auto;
  width: 100%;
}
/* line 33, styles.sass */
html body .container ul li {
  display: block;
  float: left;
  list-style-type: none;
}
/* line 38, styles.sass */
html body .container ul li a {
  color: #ddd;
  text-align: center;
  text-decoration: none;
}
/* line 45, styles.sass */
html body .container .linklist {
  margin: 0 auto;
  overflow: auto;
}
/* line 49, styles.sass */
html body .container .linklist .linkli {
  height: 42px;
  line-height: 42px;
  margin: 10px 0;
  overflow: auto;
}
/* line 55, styles.sass */
html body .container .linklist .linkli .links {
  color: #aaa;
  display: inline-block;
  line-height: 22px;
  padding: 10px;
  text-decoration: underline;
  width: 100%;
}
/* line 63, styles.sass */
html body .container .linklist .linkli .links:hover {
  background: #aaa;
  border-radius: 10px;
  color: #ddd;
  text-decoration: none;
}
/* line 71, styles.sass */
html body .container .hosts {
  margin: 20px 0 0 0;
}
/* line 74, styles.sass */
html body .container .hosts .hostli {
  width: 23%;
}
/* line 77, styles.sass */
html body .container .hosts .hostli:first-child {
  margin-left: 4%;
}
/* line 80, styles.sass */
html body .container .hosts .hostli .host {
  color: #ddd;
  display: block;
  font-size: 2em;
  font-weight: 900;
  width: 100%;
}
/* line 89, styles.sass */
html body .container .buttons {
  background: none;
  bottom: 10px;
  overflow: hidden;
  position: absolute;
}
/* line 95, styles.sass */
html body .container .buttons .butli {
  width: 14%;
}
/* line 98, styles.sass */
html body .container .buttons .butli:first-child {
  margin-left: 1%;
}
/* line 102, styles.sass */
html body .container .buttons .butli .button {
  color: #ddd;
  display: block;
  font-size: 2em;
}
/* line 107, styles.sass */
html body .container .buttons .butli .button svg {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1261px) {
  /* line 112, styles.sass */
  .linklist li {
    width: 11.1%;
  }
}
@media screen and (max-width: 1260px) {
  /* line 117, styles.sass */
  .linklist li {
    width: 14.28571%;
  }
}
@media screen and (max-width: 1080px) {
  /* line 117, styles.sass */
  .linklist li {
    width: 16.66667%;
  }
}
@media screen and (max-width: 900px) {
  /* line 117, styles.sass */
  .linklist li {
    width: 20%;
  }
}
@media screen and (max-width: 720px) {
  /* line 117, styles.sass */
  .linklist li {
    width: 25%;
  }
}
@media screen and (max-width: 540px) {
  /* line 117, styles.sass */
  .linklist li {
    width: 33.33333%;
  }
}
@media screen and (max-width: 360px) {
  /* line 117, styles.sass */
  .linklist li {
    width: 50%;
  }
}
@media screen and (max-width: 180px) {
  /* line 117, styles.sass */
  .linklist li {
    width: 100%;
  }
}
