/* line 10, styles.sass */
html, html body, html body .container {
  background: none;
  height: 100%;
  width: 100%;
}

/* line 17, styles.sass */
* {
  box-sizing: border-box;
}

/* line 21, styles.sass */
html, body, ul {
  margin: 0;
  padding: 0;
}

/* line 31, styles.sass */
html body .container {
  background: #212121;
  font-family: Verdana, "sans-serif";
}
/* line 36, styles.sass */
html body .container h1, html body .container h2, html body .container h3, html body .container p {
  text-align: center;
  width: 100%;
}
/* line 40, styles.sass */
html body .container ul {
  height: auto;
  width: 100%;
}
/* line 44, styles.sass */
html body .container ul li {
  display: block;
  float: left;
  list-style-type: none;
}
/* line 49, styles.sass */
html body .container ul li a {
  color: #424242;
  text-align: center;
  text-decoration: none;
}
/* line 56, styles.sass */
html body .container .linklist {
  margin: 0 auto;
  overflow: auto;
}
/* line 60, styles.sass */
html body .container .linklist .linkli {
  height: 42px;
  line-height: 42px;
  margin: 10px 0;
  overflow: auto;
}
/* line 66, styles.sass */
html body .container .linklist .linkli .links {
  color: #606060;
  display: inline-block;
  line-height: 22px;
  padding: 10px;
  text-decoration: underline;
  width: 100%;
}
/* line 74, styles.sass */
html body .container .linklist .linkli .links:hover {
  background: #606060;
  border-radius: 10px;
  color: #424242;
  text-decoration: none;
}
/* line 82, styles.sass */
html body .container .hosts {
  margin: 20px 0 0 0;
}
/* line 85, styles.sass */
html body .container .hosts .hostli {
  width: 23%;
}
/* line 88, styles.sass */
html body .container .hosts .hostli:first-child {
  margin-left: 4%;
}
/* line 91, styles.sass */
html body .container .hosts .hostli .host {
  color: #424242;
  display: block;
  font-size: 2em;
  font-weight: 900;
  width: 100%;
}
/* line 100, styles.sass */
html body .container .buttons {
  background: none;
  bottom: 10px;
  overflow: hidden;
  position: absolute;
}
/* line 106, styles.sass */
html body .container .buttons .butli {
  width: 14%;
}
/* line 109, styles.sass */
html body .container .buttons .butli:first-child {
  margin-left: 1%;
}
/* line 113, styles.sass */
html body .container .buttons .butli .button {
  color: #424242;
  display: block;
  font-size: 2em;
}
/* line 118, styles.sass */
html body .container .buttons .butli .button svg {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1261px) {
  /* line 123, styles.sass */
  .linklist li {
    width: 11.1%;
  }
}
@media screen and (max-width: 1260px) {
  /* line 128, styles.sass */
  .linklist li {
    width: 14.28571%;
  }
}
@media screen and (max-width: 1080px) {
  /* line 128, styles.sass */
  .linklist li {
    width: 16.66667%;
  }
}
@media screen and (max-width: 900px) {
  /* line 128, styles.sass */
  .linklist li {
    width: 20%;
  }
}
@media screen and (max-width: 720px) {
  /* line 128, styles.sass */
  .linklist li {
    width: 25%;
  }
}
@media screen and (max-width: 540px) {
  /* line 128, styles.sass */
  .linklist li {
    width: 33.33333%;
  }
}
@media screen and (max-width: 360px) {
  /* line 128, styles.sass */
  .linklist li {
    width: 50%;
  }
}
@media screen and (max-width: 180px) {
  /* line 128, styles.sass */
  .linklist li {
    width: 100%;
  }
}
