extends base

block content
	#main.wrapper
		h1.title De_Kelder
		ul.linklist
			each link, i in links.rows
				li.linklist--item
					a(href="http://" + url + ":" + link.port).linklist--item--link #{link.name}
		ul.hosts
			li.hosts--item
				a(href="http://10.8.0.1:3099").hosts--item--link 10.1
			li.hosts--item
				a(href="http://10.8.0.4:3099").hosts--item--link 10.4
			li.hosts--item
				a(href="http://10.8.0.5:3099").hosts--item--link 10.5
		ul.buttons
			li.buttons--item
				a(href="http://10.8.0.4:8112").buttons--item--button
					i.fas.fa-tint
			li.buttons--item
				a(href="http://10.8.0.1:81/admin").buttons--item--button
					i.fas.fa-shield-alt
			li.buttons--item.switches-switch
				label(for="switches").buttons--item--button
					i.fas.fa-cog
				input(type="checkbox")#switches
				ul.switches
					li.switches--item
						b.switches--item--title LAMP 1
						button.switches--item--link.switch-on ON
						button.switches--item--link.switch-off OFF
						button.switches--item--link.switch-toggle TOGGLE
					li.switches--item
						b.switches--item--title LAMP 2
						button.switches--item--link.switch-on ON
						button.switches--item--link.switch-off OFF
						button.switches--item--link.switch-toggle TOGGLE
					li.switches--item
						b.switches--item--title AMP
						button(onClick="request('223','on')").switches--item--link.switch-on ON
						button(onClick="request('223','off')").switches--item--link.switch-off OFF
						button(onClick="request('223','toggle')").switches--item--link.switch-toggle TOGGLE
					li.switches--item
						b.switches--item--title LEDSTRIP
						button(onClick="request('220','on')").switches--item--link.switch-on ON
						button(onClick="request('220','off')").switches--item--link.switch-off OFF
						button(onClick="request('220','toggle')").switches--item--link.switch-toggle TOGGLE
			li.buttons--item
				a(href="/wol").buttons--item--button
					i.fas.fa-power-off
			li.buttons--item
				a(href="http://" + url + "/backup/alex/cv/2").buttons--item--button
					i.fas.fa-user
			li.buttons--item
				a(href="http://" + url + "/backup").buttons--item--button
					i.fas.fa-folder-open
			li.buttons--item
				a(href="http://" + url + ":3099/recipes").buttons--item--button
					i.fas.fa-utensils
