extends base

block content
	#main.wrapper
		header.header
			h1.header--title De_Kelder
			nav.header--nav
				input(type="checkbox")#switch.header--nav--input
				ul.header--nav--list
					each val, index in ["1","4","5"]
						li(class="item-" + (index+1)).header--nav--list--item
							a(href="http://10.8.0." + val + ":3099").header--nav--list--item--link 10.#{val}
				label(for="switch").header--nav--label
					.header--nav--label--arrow.arrow-left
					.header--nav--label--arrow.arrow-right
		section.wrapper--section.container-fluid
			.wrapper--section--practice-projects
				each val, index in ["Oefenen","Projecten"]
					.dropdown
						button(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")#dropdownMenuButton.btn.btn-secondary.btn-lg.dropdown-toggle #{val}
						div(aria-labelledby="dropdownMenuButton").dropdown-menu
							each thing in data[index].rows
								a(href="http://" + url + ":" + thing.port).dropdown-item #{thing.name}
								.dropdown-divider
			ul.linkjes
				li.linkjes--item: a(href="http://10.8.0.4:8112").linkjes--item--link Desktop deluge
				li.linkjes--item: a(href="http://10.8.0.1:81/admin").linkjes--item--link Pihole
				li.linkjes--item: a(href="javascript:void(0);").linkjes--item--link Wemosjes
				li.linkjes--item: a(href="http://" + url + "/backup/alex/cv/2").linkjes--item--link CV
				li.linkjes--item: a(href="http://" + url + "/backup").linkjes--item--link Backup
				li.linkjes--item: a(href="http://" + url + ":3099/recipes").linkjes--item--link Recepten
		footer.footer-wrapper
			.on-icon
				a(href="/wol").on-icon--link
					i.fas.fa-power-off
