extends base

block content
	#main.wrapper
		header.header
			h1.header--title De_Kelder
			nav.header--nav
				input(type="checkbox")#switch.header--nav--input
				ul.header--nav--list
					li.header--nav--list--item.item-1
						a(href="http://10.8.0.1:3099").header--nav--list--item--link 10.1
					li.header--nav--list--item.item-2
						a(href="http://10.8.0.4:3099").header--nav--list--item--link 10.4
					li.header--nav--list--item.item-3
						a(href="http://10.8.0.5:3099").header--nav--list--item--link 10.5
				label(for="switch").header--nav--label
					.header--nav--label--arrow.arrow-left
					.header--nav--label--arrow.arrow-right
		section.wrapper--section.container-fluid
			.wrapper--section--practice-projects
				//- .col-6
				//- 	.dropdown
				//- 		button(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")#dropdownMenuButton.btn.btn-secondary.btn-lg.dropdown-toggle Oefenen
				//- 		div(aria-labelledby="dropdownMenuButton").dropdown-menu
				//- 			each oefen, i in oefenen.rows
				//- 				a(href="http://" + url + ":" + oefen.port).dropdown-item #{oefen.name}
				//- 				.dropdown-divider
				//- .col-6
				//- 	.dropdown
				//- 		button(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")#dropdownMenuButton.btn.btn-secondary.btn-lg.dropdown-toggle Projecten
				//- 		div(aria-labelledby="dropdownMenuButton").dropdown-menu
				//- 			each project, i in projecten.rows
				//- 				a(href="http://" + url + ":" + project.port).dropdown-item #{project.name}
				//- 				.dropdown-divider
				each val, index in ["Oefenen","Projecten"]
					.dropdown
						button(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")#dropdownMenuButton.btn.btn-secondary.btn-lg.dropdown-toggle #{val}
						div(aria-labelledby="dropdownMenuButton").dropdown-menu
							each thing in data[index].rows
								a(href="http://" + url + ":" + thing.port).dropdown-item #{thing.name}
								.dropdown-divider
