extends base

block content
    #recipes.container
        h1.title= title

extends base

block content
    #recipes.container
        h1.title= title
        ul
            each key in data.rows
                li
                    p #{key.name}
                    p #{key.id}
