doctype html
html
    include ./1-partials/head.pug
    body
        .container
            #add.main
                form.form
                    .form--input-wrap.title
                        input(placeholder=".")#title.form--input-wrap--input
                        label(for="title").form--input-wrap--label Gerecht
                    .form--input-wrap.photo
                        input(placeholder=".")#photo.form--input-wrap--input
                        label(for="photo").form--input-wrap--label Foto
                    .form--input-wrap.instructions
                        input(placeholder=".")#instructions.form--input-wrap--input
                        label(for="instructions").form--input-wrap--label Instructies
                    .form--input-wrap.ingredients
                        input(placeholder=".")#ingredients.form--input-wrap--input
                        label(for="ingredients").form--input-wrap--label Ingredienten
                    .form--input-wrap.last-made
                        input(placeholder=".")#last-made.form--input-wrap--input
                        label(for="last-made").form--input-wrap--label Laatst gemaakt
                    .form--input-wrap.last-eaten
                        input(placeholder=".")#last-eaten.form--input-wrap--input
                        label(for="last-eaten").form--input-wrap--label Laatst gegeten
                    .form--input-wrap.tags
                        input(placeholder=".")#tags.form--input-wrap--input
                        label(for="tags").form--input-wrap--label Tags 
                            span.form--input-wrap--label--span (scheiden met een komma)
                    .form--input-wrap.submit
                        input(type="submit", value="Versturen").form--input-wrap--submit
