doctype html
html
    include ./1-partials/head.pug
    body
        .container
            section.main
                .item
                    a(href="javascript:void(0);").item-title-link: h1.item-title Zalmpasta
                    a(href="javascript:void(0);").small-desc-link: p.small-desc Dit is zalmpasta wat je gaat maken, kan best leuk zijn om te doen en vaak is het toch ook wel erg lekker. Dus kook dit maar gauw m'n jong'n.
                .item
                    a(href="javascript:void(0);").item-title-link: h1.item-title Kip Tandoori
                    a(href="javascript:void(0);").small-desc-link: p.small-desc Dit is zalmpasta wat je gaat maken, kan best leuk zijn om te doen en vaak is het toch ook wel erg lekker. Dus kook dit maar gauw m'n jong'n.
                .item
                    a(href="javascript:void(0);").item-title-link: h1.item-title Lasagne
                    a(href="javascript:void(0);").small-desc-link: p.small-desc Dit is zalmpasta wat je gaat maken, kan best leuk zijn om te doen en vaak is het toch ook wel erg lekker. Dus kook dit maar gauw m'n jong'n.
                .item
                    a(href="javascript:void(0);").item-title-link: h1.item-title Burrito's
                    a(href="javascript:void(0);").small-desc-link: p.small-desc Dit is zalmpasta wat je gaat maken, kan best leuk zijn om te doen en vaak is het toch ook wel erg lekker. Dus kook dit maar gauw m'n jong'n.
                .item
                    a(href="javascript:void(0);").item-title-link: h1.item-title Pizza
                .item
                    a(href="javascript:void(0);").item-title-link: h1.item-title Spaghetti Bolognese
                .item
                    a(href="javascript:void(0);").item-title-link: h1.item-title Noedels en Vis
                .item
                    a(href="javascript:void(0);").item-title-link: h1.item-title Spaghetti Carbonara
                .item
                    a(href="javascript:void(0);").item-title-link: h1.item-title AVG'tje
            .footer
                footer
                    .searchbar
                        input.search-input
                    a(href="javascript:void(0);").add-recipe
                        .cross-vert
                        .cross-hori
        //Scripts
        script(defer src="../1-public/js/jquery.min.js", type="text/javascript")
        script(defer src="3-js/jquery.js", type="text/javascript")

