doctype html
html
    include ./1-partials/head.pug
    body
        .container
            .main
                .item
                    h1.item--title: a(href="javascript:void(0)").item--title--link Zalmpasta
                    p.item--small-desc: a(href="recipe.html").item--small-desc--link Dit is zalmpasta wat je gaat maken, kan best leuk zijn om te doen en vaak is het toch ook wel erg lekker. Dus kook dit maar gauw m'n jong'n.
                .item
                    h1.item--title: a(href="javascript:void(0);").item--title--link Kip Tandoori
                    p.item--small-desc: a(href="recipe.html").item--small-desc--link Dit is zalmpasta wat je gaat maken, kan best leuk zijn om te doen en vaak is het toch ook wel erg lekker. Dus kook dit maar gauw m'n jong'n.
                .item
                    h1.item--title: a(href="javascript:void(0);").item--title--link Lasagne
                    p.item--small-desc: a(href="recipe.html").item--small-desc--link Dit is zalmpasta wat je gaat maken, kan best leuk zijn om te doen en vaak is het toch ook wel erg lekker. Dus kook dit maar gauw m'n jong'n.
                .item
                    h1.item--title: a(href="javascript:void(0);").item--title--link Burrito's
                    p.item--small-desc: a(href="recipe.html").item--small-desc--link Dit is zalmpasta wat je gaat maken, kan best leuk zijn om te doen en vaak is het toch ook wel erg lekker. Dus kook dit maar gauw m'n jong'n.
                .item
                    h1.item--title: a(href="javascript:void(0);").item--title--link Pizza
                    p.item--small-desc: a(href="recipe.html").item--small-desc--link Dit is zalmpasta wat je gaat maken, kan best leuk zijn om te doen en vaak is het toch ook wel erg lekker. Dus kook dit maar gauw m'n jong'n.
                .item
                    h1.item--title: a(href="javascript:void(0);").item--title--link Spaghetti Bolognese
                    p.item--small-desc: a(href="recipe.html").item--small-desc--link Dit is zalmpasta wat je gaat maken, kan best leuk zijn om te doen en vaak is het toch ook wel erg lekker. Dus kook dit maar gauw m'n jong'n.
                .item
                    h1.item--title: a(href="javascript:void(0);").item--title--link Noedels en Vis
                    p.item--small-desc: a(href="recipe.html").item--small-desc--link Dit is zalmpasta wat je gaat maken, kan best leuk zijn om te doen en vaak is het toch ook wel erg lekker. Dus kook dit maar gauw m'n jong'n.
                .item
                    h1.item--title: a(href="javascript:void(0);").item--title--link Spaghetti Carbonara
                    p.item--small-desc: a(href="recipe.html").item--small-desc--link Dit is zalmpasta wat je gaat maken, kan best leuk zijn om te doen en vaak is het toch ook wel erg lekker. Dus kook dit maar gauw m'n jong'n.
                .item
                    h1.item--title: a(href="javascript:void(0);").item--title--link AVG'tje
                    p.item--small-desc: a(href="recipe.html").item--small-desc--link Dit is zalmpasta wat je gaat maken, kan best leuk zijn om te doen en vaak is het toch ook wel erg lekker. Dus kook dit maar gauw m'n jong'n.
            .footer
                footer
                    .searchbar
                        input(autocomplete="off", autocorrect="off", spellcheck="false").searchbar--input
                    a(href="add-recipe.html").add-recipe
                        .add-recipe--cross.vert
                        .add-recipe--cross.hori
        //Scripts
        script(defer src="3-js/jquery.min.js", type="text/javascript")
        script(defer src="3-js/jquery.js", type="text/javascript")
