doctype html
html
    include ./1-partials/head.pug
    body
        .container
            section.main
                .item
                    h1.item-title Zalmpasta
                    p.small-desc Dit is zalmpasta wat je gaat maken, kan best leuk zijn om te doen en vaak is het toch ook wel erg lekker. Dus kook dit maar gauw m'n jong'n.
                .item
                    h1.item-title Kip Tandoori
                    p.small-desc Dit is zalmpasta wat je gaat maken, kan best leuk zijn om te doen en vaak is het toch ook wel erg lekker. Dus kook dit maar gauw m'n jong'n.
                .item
                    h1.item-title Lasagne
                    p.small-desc Dit is zalmpasta wat je gaat maken, kan best leuk zijn om te doen en vaak is het toch ook wel erg lekker. Dus kook dit maar gauw m'n jong'n.
                .item
                    h1.item-title Burrito's
                    p.small-desc Dit is zalmpasta wat je gaat maken, kan best leuk zijn om te doen en vaak is het toch ook wel erg lekker. Dus kook dit maar gauw m'n jong'n.
                .item
                    h1.item-title Pizza
                .item
                    h1.item-title Spaghetti Bolognese
                .item
                    h1.item-title Noedels en Vis
                .item
                    h1.item-title Spaghetti Carbonara
                .item
                    h1.item-title AVG'tje
            .footer
                footer
                    .searchbar
                        input.search-input
                    a(href="#").menu-button
                        .stripe.stripe-one
                        .stripe.stripe-two
                        .stripe.stripe-three
                    a(href="#").add-recipe
                        .cross-vert
                        .cross-hori
        //Scripts
        script(defer src="../1-public/js/jquery.min.js", type="text/javascript")
        script(defer src="3-js/jquery.js", type="text/javascript")

