doctype html
html
    include ./1-partials/head.pug
    body
        .container
            section#recipe.main
                .title-wrap
                    h1.title Zalmpasta
                .photo-wrap
                    img.photo
                .instructions-wrap
                    ol.instructions
                        li.instruction Doe dit
                        li.instruction Doe dat
                        li.instruction Kook eens iets
                        li.instruction Je had dit al moeten snijden
                        li.instruction En hierna is het klaar
                .ingredients-wrap
                    ol.ingredients
                        li.item
                .last-made-wrap
                .last-eaten-wrap
                .calendar-wrap
                .tage-wrap
            