doctype html
html
    include ./1-partials/head.pug
    body
        .container
            section#recipe.main
                .title-wrap
                    h1.title Zalmpasta
                .photo-wrap
                    img(src="http://alexdewekker.nl/zalmpasta.jpg", alt="Zalmpasta").photo
                .instructions-wrap
                    ol.instructions
                        li.instruction: span Snij de courgette in blokjes en zet een pan water op het vuur.
                        li.instruction: span Bak de courgette blokjes een paar minuten in een grote pan.
                        li.instruction: span Gooi hier de tomatenblokjes en mascarpone bij en mix het goed door elkaar heen.
                        li.instruction: span Gooi zodra het kookt de zalmsnippers erbij en laat het geheel opwarmen.
                        li.instruction: span Vergeet niet om de fusili te koken en serveer het gerecht samen in een bord op.
                .ingredients-wrap
                    ul.ingredients
                        li.ingredient: span Zalmsnippers, 400 gram.
                        li.ingredient: span Fusili, 300 gram.
                        li.ingredient: span 1 Courgette.
                        li.ingredient: span Gezeefde tomatenblokjes (knoflook), 400 gram.
                        li.ingredient: span Mascarpone, 250 gram.
                .last-made-wrap
                    p.last-made Laatst gemaakt op: 
                        b 30-11-2018
                .last-eaten-wrap
                    p.last-eaten Laatst gegeten op: 
                        b 02-12-2018
                .calendar-wrap
                    .calendar: p Hier komt een kalendertjih
                .tags-wrap
                    p.tags 
                        i Italiaans, Pasta, Zalm, Vullend
            